/*页面公有部分*/
*{
	padding: 0px;
	margin: 0px;
	font: 12px arial;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	vertical-align: top;
	/*color: #999;
	font-size: 14px;*/
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
/*登陆和注册公共部分*/
body{
	background: #fcfcfc;
}
/*头部导航*/
#headNav{
	padding: 15px;
	background: #FFFFFF;
	border-bottom: 1px solid #e1e1e1;
}
.innerNav{
	margin: 0 auto;
	width: 1200px;
	position: relative;
}
#headNav img{
	display: block;
	height: 55px;
	width: auto;
}
.headFont span,.headFont a{
	line-height: 18px;
	font-family: simsun;
	font-size: 12px;
	color: #999;
	vertical-align: middle;
}
.headFont span a{
	color: #06c;
}
.headFont span a:hover{
	color: #f60;
}
.headFont>a{
	margin-left: 25px;
	color: #333;
}
.runbun,.turnb{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 0 4px;
}
.runbun{
	background:  no-repeat;
	background-size: 100% 100%;
}
.turnb{
	background: url(../img/turnb.png) no-repeat;
	background-size: 100% 100%;
}
.helpLink{
	color: #333333;
	font-size: 12px;
}
.outHelp{
	position: absolute;
	top: -4px;
	right: 0;
	width: 98px;
	padding-top: 25px;
	border: 1px solid #ccc;
	z-index: 1;
}
.outHelp:hover .helpYou{
	display: block;
}
.helpYou{
	background: #FFFFFF;
	display: none;
}
.helpYou li a{
	height: 24px;
	display: block;
	padding-left: 25px;
	border-top:1px dotted #e4e4e4;
	background: #FFFFFF;
	line-height: 25px;
	color: #333;
}
.helpYou li a:hover{
	color: #f60;
}
.tableBtn{
	width: 330px;
	height: 52px;
	border: 0 none;
	border-radius: 3px;
	background-color: #FF3C3C;
	font-size: 16px;
	color: #FFFFFF;
	cursor: pointer;
	line-height: 52px;
}
/*footer尾部*/
#footerNav{
	width: 980px;
	margin:20px auto 0;
	text-align: center;
}
#footerNav p{
	margin-top: 10px;
	color: #333333;
}
#footerNav p a{
	padding: 0 5px;
	color: #333;
}
#footerNav p a:hover{
	color: #c00;
}