/*登录页内容主题*/
#secBod{
    padding-top: 26px;
    background: #FCFCFC;
    padding-bottom: 30px;
}
.innerBod{
    width: 980px;
    margin: 0 auto;
}
.tableWrap{
    width: 330px;
    padding-top:46px ;
}
.tableWrap h3{
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}
.tableWrap a{
    color: #0066CC;
    line-height: 30px;
}
.tableWrap a:hover{
    color: #f60;
    line-height: 30px;
}
.tableItem{
    height: 24px;
    z-index: 100px;
    border: 1px solid #dedede;
    margin-bottom: 10px;
    padding: 14px 18px;
    line-height: 24px;
}
.userHead{
    background: url(../img/userHead.png)  no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.userLock{
    background: url(../img/lock.png)  no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.tableItem input{
    vertical-align: middle;
    width: 230px;
    height: 24px;
    padding-left: 20px;
    border: 0 none;
    line-height: 24px;
    font-size: 14px;
}
.tableAuto{
    padding-top: 4px;
}
.tableAuto a{
    color: #999999;
}
.autoMatic{
    display: block;
    width: 100px;
    vertical-align: middle;
}
.loadGiet{
    margin-right:10px ;
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid #999;
    vertical-align: middle;
}

.moreWeb{
    padding: 15px 0;
    color: #666666;
}
.outType{
    height: 35px;
    line-height: 35px;
}
.loadType{
    overflow: hidden;
    clear: both;
}
.loadType li a{
    display: inline-block;
    margin-right: 20px;
    width: 35px;
    height: 35px;
}/*
.loadType li:nth-of-type(1) a{
    background: url(../img/qqf.png) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(2) a{
    background: url(../images/wbf.png) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(3) a{
    background: url(../images/zhif.png) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(4) a{
    background: url(../images/wxf.png) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(1):hover a{
    background: url(../images/qqt.png) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(2):hover a{
    background: url(../images/wbt.png) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(3):hover a{
    background: url(../images/zhit.png) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(4):hover a{
    background: url(../images/wxt.png) no-repeat;
    background-size: 100% 100%;
}*/
.loadType li:nth-of-type(1) a{
    background: url(../img/public/weibo.jpg) no-repeat;
    background-size: 100% 100%;
}
.loadType li:nth-of-type(2) a{
    background: url(../img/public/weixin.jpg) no-repeat;
    background-size: 100% 100%;
}
.loadMore{
    height: 35px;
    line-height: 35px;
    color: #999999;
    vertical-align: middle;
}
.loadMore i{
    background: url(../img/loadMore.png) no-repeat;
    margin-left: 5px;
    width: 18px;
    height: 14px;
    display: inline-block;
    background-size: 100% 100%;
    vertical-align: middle;
}
