#Overlay
{
    left: 0;
    overflow: hidden;
    top: 0;
    z-index: 9999;
    cursor: pointer;
    background: url("https://ssl.vanclimg.com/Others/2010/9/3/overlay.png") repeat scroll 0 0 transparent;
    height: 100%;
    width: 100%;
}
#LoadedContent
{
    border: 0 none;
    display: block;
    height: 100%;
    _height: 480px;/* ie6 hack to hide the scroll bar */
    width: 100%;
}

img
{
    border: none;
}
.KmainBox
{
    border: 1px solid #a10000;
	padding-bottom:23px;
	_padding-bottom:0px;
}
.msgboxhead
{
    font-size: 12px;
    background: url(https://ssl.vanclimg.com/Others/2011/2/15/dpbox.gif) repeat-x;
    height: 23px;
    font-weight: bold;
    line-height: 23px;
    overflow: hidden;
    color: #fff;
    padding: 0px 5px;
 }
.msgboxhead span
{
    display: inline;
    float: left;
}
.msgboxhead a
{
    display: inline;
    float: right;
    color: #fff;
    font-weight: normal;
}
.msgboxhead a img
{
    display: block;
    margin-top: 6px;
    margin-right: 5px;
}

.relatedshow{ display:block;}
.relatedhide{ display:none;}