 *{
 	margin: 0;
 	padding: 0;
 }
 .right_cont {
 	float: right;
 	width: 1000px;
 	margin: 0 0 0 20px;
 }
 
 .right_cont>div {
 	width: 100%
 }
 
 .blank30 {
 	clear: both;
 	display: block;
 	font-size: 1px;
 	overflow: hidden;
 	height: 30px;
 }
 
 .AsecurityBox0212 {
 	width: 781px;
 }
 
 .AsecurityBox0212 .aslevel {
 	margin-left: 15px;
 }
 
 .asLevelUl a.withoutVaLink12 {
 	color: #a10000;
 	padding-left: 6px;
 }
 
 .AsecurityBox0212 .aslevelAtart {
 	color: #999 !important;
 }
 
 .AsecurityBox0212 .asLevelUl li {
 	margin: 0px 5px 0px 13px;
 	float: left;
 	display: inline;
 }
 
 .my_cont12 {
 	border: none;
 	padding: 0px 0px 0px 10px;
 	width: 775px;
 }
 
 .my_txt12 {
 	width: 867px;
 }
 
 .nickname-panel12 {
 	width: 667px;
 }
 
 .vjia12 {
 	color: #333;
 }
 
 .AsecuryMessage12 em {
 	font-style: normal;
 	color: #666;
 }
 
 .AsecuryMessage12 em.mal1230 {
 	margin-left: 30px;
 }
 
 .AsecuryMessage12 a {
 	color: #a10000;
 }
 
 .my_pic a.myPicEdit12 {
 	line-height: 50px;
 }

 .txt212 {
	 border: 1px solid #dcdcdc;
	 width: 60%;
	 background: #f8f8f8;
	 margin-left: 20px;
 }

#modify:hover{
	color: #B71C20 ;
}
 
 .txt212 . li {
 	height: 36px;
 	line-height: 36px;
 	border-bottom: 1px dotted #999;
 	width: 308px;
 	padding-left: 20px;
 	color: #333;
 }
 
 .txt212 . li .padr1220 {
 	padding-right: 20px;
 }
 
 .txt212 . li a span {
 	color: #a10000;
 }
 
 .txt212 . li.orderStatusli1201 {
 	width: 440px;
 	font-weight: bold;
 }
 
 .txt212 . li.orderStatusli1202 {
 	border-right: 1px dotted #999;
 }
 
 .txt212 . li.orderStatusli1203 {
 	border-bottom: none;
 }
 
 .txt212 . li .red12 {
 	color: #a10000;
 }
 
 .txt212 . li .grey12 {
 	color: #666;
 }
 
 .txt212 . li .rules20120112 {
 	font-weight: bold;
 	padding-left: 23px;
 }
 
 .vancladmin_recomtitle12 li {
 	width: 132px;
 	padding-left: 25px;
 	line-height: 29px;
 	text-align: left;
 	float: left;
 	background: url(http://i.vanclimg.com/my/2012/recommand/menu_bg.gif) no-repeat left top;
 	margin-right: 2px;
 	font-size: 12px;
 	font-weight: bold;
 	color: #666;
 }
 
 .vancladmin_recomtitle12 .on {
 	width: 132px;
 	text-align: left;
 	padding-left: 25px;
 }
 
 .vancladmin_recomtitle12 li.vancladminrecomtitleLiMore {
 	background: none;
 	width: auto;
 	float: right;
 	margin-right: 3px;
 	display: inline;
 }
 
 .inviteTable12 {
 	margin-top: 0px;
 	border-top: none;
 }
 
 #menubox ul.vancladmin_recomtitle12 {
 	overflow: hidden;
 	border-bottom: 3px #8e0000 solid;
 	width: 785px;
 }
 
 #menubox ul.vancladmin_recomtitle12 li {
 	width: 132px;
 	padding-left: 25px;
 	line-height: 29px;
 	text-align: left;
 	float: left;
 	background: url(http://i.vanclimg.com/my/2012/recommand/menu_bg.gif) no-repeat left top;
 	margin-right: 2px;
 	font-size: 12px;
 	font-weight: bold;
 }
 
 #menubox ul.vancladmin_recomtitle12 .mrnone {
 	margin: 0;
 }
 
 #menubox ul.vancladmin_recomtitle12 a,
 #menubox ul.vancladmin_recomtitle12 a:visited {
 	color: #666;
 }
 
 #menubox ul.vancladmin_recomtitle12 .on {
 	width: 132px;
 	background: url(http://i.vanclimg.com/my/2012/recommand/menuon_bg.gif) no-repeat left top;
 	color: #fff;
 	cursor: pointer;
 }
 
 #menubox ul.vancladmin_recomtitle12 .on a,
 #menubox ul.vancladmin_recomtitle12 .on a:visited {
 	color: #fff;
 }
 
 #menubox ul.vancladmin_recomtitle12 li.vancladminrecomtitleLiMore {
 	background: none;
 	width: auto;
 	float: right;
 	margin-right: 3px;
 	display: inline;
 }
 
 #menubox ul.vancladmin_recomtitle12 li.vancladminrecomtitleLiMore a {
 	color: #a10000;
 }
 
 .inviteTable12 {
 	margin-top: 0px;
 	border-top: none;
 }
 
 .opinion12,
 .opinion13 {
 	background: url(http://i.vanclimg.com/my/2012/boot/yjtop.jpg) no-repeat;
 	width: 36px;
 	height: 93px;
 	display: block;
 }
 
 .opinion13 {
 	background-position: 0px -95px;
 	margin-top: 3px;
 }
 /*0108*/
 
 .rv1_tuijianlist02 {
 	float: left;
 	width: 739px;
 }
 
 .rv1_tuijianlist02 li {
 	float: left;
 	margin-left: 10px;
 	display: inline;
 }
 
 .vancladminBtLeft,
 .vancladminBtRight {
 	width: 21px;
 	height: 100px;
 	background: url(http://i.vanclimg.com/my/2012/boot/scrollbtn.jpg) no-repeat 0px 0px;
 	float: left;
 	margin-top: 29px;
 	display: inline-block;
 	text-indent: -9999px;
 	cursor: pointer;
 	overflow: hidden;
 }
 
 .vancladminBtRight {
 	background-position: -33px 0px;
 	float: right;
 }

 .my_cont {
	 border-left: 5px solid #eee;
	 border-right: 5px solid #eee;
	 padding: 0 15px;
	 width: 100%;
 }


 .my_pic {
	 margin-top: 3%;
	 width: 10%;
	 float: left;
	 text-align: center;
 }


.my_pic a {
	font-size: 15px;
	color: black;
	line-height: 24px;
}
.my_pic a:hover {
	color: #A80429;
}
.my_pic .head_pic {
	background: #eee;
	display: none;
	color: #a10000;
	z-index: 1000;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 90px;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.my_pic div div {
	position: relative;
	height: 90px;
}

 .my_txt {
	 width: 90%;
	 float: left;
	 line-height: 24px;
 }


.txt1 .good {
	float: left;
	color: #333;
	font-weight: bold;
	font-size: 14px;
}

.txt1 .good p {
	display: block;
	padding-right: 24px;
	float: left;
}

.txt1 .good span {
	color: #a10000;
}

.txt1 p {
	float: right;
	color: #666;
}

.txt2,
.txt3 {
	background: #f8f8f8;
	border: 1px solid #dcdcdc;
}

.txt2 ul li {
	float: left;
	width: 300px;
	padding-left: 5px;
}

.red {
	color: #a10000;
}

.txt3 {
	padding-left: 10px;
}
.nickname-panel {
	width: 647px;
	float: left;
}
.nickname-modify{
	height: 27px;
	margin-left: 5%;
}
 .nickname-info {
	 width: 80%;
	 margin-top: 1%;
	 margin-left: 5%;
	 float: left;
	 background-color: #F8F8F8;
	 border: 1px solid #DDDDDD;
	 height: 27px;
	 line-height: 27px;
	 padding: 0 9px 3px 2px;
 }




.nicknamecanlce a {
	text-decoration: underline;
}

#modifyname {
	display: none;
}

.member-info {
	border: 0 none;
	background-color: #fff;
}

#member,
#anickname,
#modify {
	position: relative;
	float: left;
}

.vjia {
	float: right;
	color: #666666;
	line-height: 32px;
}

.nickname-info .error-tip {
	border: 1px solid #A20000;
	color: #A20000;
	display: inline-block;
	line-height: 20px;
	height: 22px;
	vertical-align: middle;
}
#nickname {
	border: 1px solid #A20000;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	width: 131px;
	color: #7d7d7d;
}

#aConfirm {
	height: 21px;
	width: 43px;
	border: 0 none;
	background: url(../../img/public/icon1.gif) no-repeat 0 0;
	vertical-align: middle;
	*margin-left: 5px;
}

#nickname-icon {
	background: url("http://i.vanclimg.com/my/2012/v2/icon.gif") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 16px;
	margin: 0 3px 0 5px;
	vertical-align: middle;
	width: 16px;
}

#tip {
	vertical-align: middle;
}

#arrow-icon2 {
	height: 12px;
	width: 12px;
	background: url(http://i.vanclimg.com/my/2012/v2/bg-icon1.gif) no-repeat 0 -151px;
	display: inline-block;
}

#modify {
	padding: 0 8px;
	color: black;
	font-size: 14px;
	
}

a.member {
	white-space: nowrap;
	display: block;
	left: 0;
	height: 21px;
	line-height: 21px;
	padding: 2px 11px;
	position: absolute;
	top: 1px;
	z-index: 2;
	background: #fff url(http://i.vanclimg.com/my/2012/v2/icon1.gif) no-repeat 95% 14px;
}

a.memberimg {
	color: #A20000;
	background: #fff;
}

a.memberimg img {
	_height: 19px;
}

.member-info a.selected {
	border: 1px solid #a20000;
	border-bottom: 0 none;
	text-decoration: none;
}

.member-tip {
	border: 1px solid #A20000;
	color: #000000;
	display: none;
	left: 0;
	line-height: 15px;
	padding: 10px 5px 5px;
	position: absolute;
	top: 26px;
	width: 200px;
	z-index: 1;
	background: #fff;
}

.member-tip p {
	margin-bottom: 10px;
}

.nickname-info em {
	color: #A20000;
}

#anickname em {
	font-style: normal;
	font-size: 15px;
	font-weight: bold;
}

.info-tip {
	color: #A10000;
	display: inline-block;
	line-height: 21px;
}
a{
	text-decoration: none;
}
 .txt212 .orderStatusul12 li {
	 height: 36px;
	 line-height: 36px;
	 border: 1px dotted #999;
	 width: 308px;
	 padding-left: 20px;
	 color: #333;
 }

 .txt212 .orderStatusul12 li .padr1220
    {
        padding-right: 20px;
    }
    .txt212 .orderStatusul12 li a span
    {
        color: #a10000;
    }
 .txt212 .orderStatusul12 li.orderStatusli1201 {
	 font-weight: bold;
 }

 .txt212 .orderStatusul12 li.orderStatusli1202 {
	 border-left: 1px dotted #999;
	 border-right: 1px dotted #999;
 }

 .txt212 .orderStatusul12 li.orderStatusli1203
    {
    }
    .txt212 .orderStatusul12 li .red12
    {
        color: #a10000;
    }
    .txt212 .orderStatusul12 li .grey12
    {
        color: #666;
    }
    .txt212 .orderStatusul12 li .rules20120112
    {
        font-weight: bold;
        padding-left: 23px;
    }
    .vancladmin_recomtitle12 li
    {
        width: 132px;
        padding-left: 25px;
        line-height: 29px;
        text-align: left;
        float: left;
        background: url(http://i.vanclimg.com/my/2012/recommand/menu_bg.gif) no-repeat left top;
        margin-right: 2px;
        font-size: 12px;
        font-weight: bold;
        color: #666;
    }
    .vancladmin_recomtitle12 .on
    {
        width: 132px;
        text-align: left;
        padding-left: 25px;
    }
    .vancladmin_recomtitle12 li.vancladminrecomtitleLiMore
    {
        background: none;
        width: auto;
        float: right;
        margin-right: 3px;
        display: inline;
    }
    li{
    	list-style-type: none;
    }


























