*{
	margin: 0;
	padding: 0;
}
SPAN {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none
}
.ordercontainer {
	width: 780px;
	float: right;
	margin: 0;
}

.ordercontainer a {
	text-decoration: none;
}

.ordercontainer a:hover {
	color: #a10000;
}

.ordercontainer a img {
	border: 0;
}
.ordercontainer H3 {
	background: url("http://i.vanclimg.com/my/2012/recommand/bg_accountcol.png") repeat-x scroll 50% bottom transparent;
	height: 24px;
	margin: 0 0 10px;
}

.ordercontainer H3 SPAN {
	border-bottom: 2px solid #92002D;
	float: left;
	font: 700 14px/22px "宋体";
	padding: 0 6px;
}
.blank10 {
	clear: both;
	display: block;
	font-size: 1px;
	overflow: hidden;
	height: 10px;
}

.blank20 {
	clear: both;
	display: block;
	font-size: 1px;
	overflow: hidden;
	height: 20px;
}

.wtitle {
	border-bottom: #a20806 2px solid;
	height: 26px;
}

.wtitle_l {
	float: left;
}
.track{
	font-size: 11px;
}

.wtitle_l a {
	width: 91px;
	height: 26px;
	line-height: 26px;
	float: left;
	margin-right: 2px;
	display: block;
	background: url(http://i.vanclimg.com/my/2012/order/tab.gif) left no-repeat;
	text-align: center;
	color: #333;
}

.wtitle_l a:hover {
	background: url(http://i.vanclimg.com/my/2012/order/tab01.gif) left no-repeat;
	color: #fdfdfd;
	font-weight: bold;
}

.wtitle_lNa {
	background: url(http://i.vanclimg.com/my/2012/order/tab01.gif) left no-repeat!important;
	color: #fdfdfd!important;
	font-weight: bold;
}

.wtitle_r {
	float: right;
	margin-right: 1px;
	height: 18px;
	padding-top: 3px;
}

.wtitle_r select {
	width: 99px;
	height: 19px;
	line-height: 19px;
	font-size: 12px;
	text-align: center;
}

.wtitle_r input {
	background: url(http://i.vanclimg.com/my/2012/order/bg3.jpg) left no-repeat;
	width: 82px;
	height: 18px;
	color: #000;
	text-align: center;
	float: left;
	font-size: 11px;
	border: 0;
	margin-top: -1px;
}

.wtitle_r a img {
	float: left;
	display: block;
}








